/*
font-family: 'Black Ops One', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Rubik Iso', cursive;
*/

h1{
    color: blue;
    font-family: 'Rubik Iso', cursive;
}

